header {
    margin: 0px !important;
    padding: 0px !important;
    background: #555;
    nav {
        height: auto;
        overflow: auto;
        ul li {
            display: inline;
            &, a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}